extends _shared/_master

block content

  .container
    .row
      .box
        .col-lg-12.text-center
          h2.brand-before
            | Welcome to
          h1.brand-name #{currentUserName}
          hr.tagline-divider
  if posts
    each post in posts
      .row
        .box
          .col-lg-12
            hr
            a.intro-text.text-center(href='/blogs/' + currentUserName + '/post/' + post.category + '/' + post._id)
              strong #{post.header}
            hr
            img.img-responsive.img-border.img-left(src='', alt='')
            hr.visible-xs
            p #{post.text}
            

