extends _shared/_master

block content

  .row
      .box
        .col-lg-12
          if isOwnerLoggedIn
            a.btn.btn-default(href='/blogs/' + currentUserName + '/post/' + post.category + '/' + post._id + '/edit/form') Edit
          hr
          h1.intro-text.text-center
            strong #{post.header}
          hr
          img.img-responsive.img-border.img-left(src=post.url, alt='')
          hr.visible-xs
          p #{post.text}