include blogs/_shared/_foot.pug

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		title
		// Bootstrap Core CSS
		link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
		// Custom CSS
		link(href='/static/css/home.css', rel='stylesheet')
		// Fonts
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic', rel='stylesheet', type='text/css')

	body
		.container
		.header
			.row
				.box
				.col-lg-12.text-center
					h1.brand-before
					| My Blog
					hr.tagline-divider
		.body
			block home
			block register

		.footer
			+foot()
		// jQuery
		script(src='/libs/jquery/dist/jquery.js')
		// Bootstrap Core JavaScript
		script(src='/libs/bootstrap/dist/js/bootstrap.min.js')

		script(src="/libs/toastr/build/toastr.min.js")