extends _base

block register
  != messages()
  .container
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-login
          .panel-heading
            .row
              .col-xs-12
                a(href='/register/form') Register
            hr
          .panel-body
            .row
              .col-lg-12
                form(action='/register', method='post', role='form', style='display: block;')
                  .form-group
                    input.form-control(type='text', name='name', tabindex='1', placeholder='MyBlog Name', value='')
                  .form-group
                    input.form-control(type='email', name='email', tabindex='2', placeholder='E-mail')
                  .form-group
                    input.form-control(type='password', name='password', tabindex='3', placeholder='Password')
                  .form-group
                    .row
                      .col-sm-6.col-sm-offset-3
                        input#login-submit.form-control.btn.btn-login(type='submit', tabindex='4', value='Register')